body {
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
input {
	border: solid 2px #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px 0px;
	width: 500px;
}
button {
	padding: 5px;
}
.cb {
	clear: both;
}
.mt50 {
	margin-top: 50px;
}
.conten {
	width: 1000px; 
	margin: 0 auto;
}
.song {
	margin-top:20px;
}
.song img {
	float: left; 
	margin-right: 5px;
}
.description {
	font-size: 12px;
}
.conten-data, .conten-data-error {
	display: none;
}
.what, .that {
	font-size: 13px;
	float: left;
	line-height: 20px;
	margin-top: 10px;
}
.what {
	font-weight: bold;
	width: 10%;
}
.that {
	width: 90%;
}